/* ======= common ui ======= */ 
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  justify-content: center;
  background-color: #282c34;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headerText {
  margin: auto;
  margin-top: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.horizontal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 1.3px 0;
}
.home-tab {
  margin: 10px 0 20px 20px;
}
.site-title {
  font-weight: 900;
  font-size: 80px;
  color: #e2e2e2;
  padding: 2.6rem 0 1.8rem 0; /* 40px */
}

.site-title:hover {
  color: #B98253;
}

.description {
  padding: .5rem;
  margin: 2rem 5rem 0 5rem;
  font-weight: 500;
  font-size: 1rem;
  color: #e2e2e2;
}


.ant-radio-button-wrapper {
  font-weight: 600;
  /* font-size: 1rem; */
  margin: 2rem 0;
  /* padding: 10px; */
}

.ant-radio-button-wrapper:hover {
  color: green;
  background-color: greenyellow;
}

.ant-radio-button:hover, .ant-radio-button-input {
  color: green;
  background-color: green;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  color: white;
}

.ant-radio-button-checked, .ant-radio-button-wrapper-checked {
  color: white;
  background-color: green;

}

.sectionLabel {
  font-size: 20px;
  font-weight: 600;
}
.sectionDescription {
  font-weight: 400;
  font-size: 14px;
  margin-top: 6px;
  margin-bottom: 2px;
  color: #535353;
}
.record-desc {
  margin-top: 10px;
  margin-bottom: 5px;
}
.transcription-desc {
  margin: 14px 0;
}

.arrowIcon {
  font-size: 25px;
}

a {
  color: #B98253;
  font-weight: 500;
  /* text-decoration: none; */
}

a:visited {
  color: #B98253;
}

a:hover {
  color: #e2e2e2;
}

.button {
  height: 2.6rem;
  margin-left: .3rem;
  padding: 0 1.3rem;
  border: 1px solid darkgray;
  background-color: white;
  border-radius: 15px;
}

.button:hover {
  background-color: rgb(240, 240, 240);
}

.button:active {
  background-color: white;
}

.tabredirect {
  color: #b07038;
}

/* ======= transcribe record ui ======= */ 
#recordButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 35px 0 20px 0;
  width: 100%;
}

.recordActive {
  font-size: 50px;
  background-color: red;
  padding-bottom: 10px;
  cursor: pointer;
  width: 400px;
  height: 75px;
  border: 1px solid darkgray;
  border-radius: 15px;
  color: white;
}

.recordInactive {
  font-size: 50px;
  background-color: white;
  padding-bottom: 10px;
  cursor: pointer;
  width: 400px;
  height: 75px;
  border: 1px solid darkgray;
  border-radius: 15px;
  color: red;
}

.recordInactive:hover {
  background-color: rgb(240, 240, 240);
}

#transcriptionOutputSection {
  width: 100%;
}

#transcribedTextAtModelTab,
#transcribedTextAtRoleTab {
  width: 440px;
  min-height: 130px;
  padding: 20px;
  margin: auto;
  background-color: rgb(240, 240, 240);
  border: 1px solid darkgray;
  border-radius: 15px;
}
#homeTabRecord {
  width: 120px;
  min-height: 270px;
  background-color: rgb(240, 240, 240);
  margin-top: 32px;
  margin: 10px 13px 0 13px;
}

/* ======= Corrected text ui ======= */ 
.text-box {
  font-size: 17px;
  font-weight: 400;
}
#transcribedText,
#correctedText {
  width: 300px;
  min-height: 240px;
  padding: 20px;
  margin: auto;
  background-color: rgb(240, 240, 240);
  border: 1px solid darkgray;
  border-radius: 15px;
}

#outputSection {
  width: 360px;
  margin: 15px 25px;
  justify-content: center;
  text-align: center;
}

#outputByOption1,
#outputByOption2 {
  width: 350px;
  min-height: 150px;
  padding: 20px;
  background-color: rgb(240, 240, 240);
  border: 1px solid darkgray;
  border-radius: 15px;
}

#correctedTextByHaiku,
#correctedTextBySonnet {
  width: 350px;
  min-height: 150px;
  padding: 20px;
  background-color: rgb(240, 240, 240);
  border: 1px solid darkgray;
  border-radius: 15px;
}

#priceHaiku,
#priceSonnet {
  font-weight: 300;
  padding: 4px;
  padding-top: 12px;
}

#priceHaikuEasier,
#priceSonnetEasier {
  font-weight: 500;
}

better {
  color: green;
}

corrected {
  color: red;
}

/* ======= More info tab ui ======= */ 

.more-info-tab {
  color: #e2e2e2;
  padding-top: 20px;
  align-items: flex-start;
  justify-content: space-evenly;
}
